{% extends "base.html" %}

<!-- {% block title %}
UPLOAD NOW
{% endblock title %} -->

{% block content %}

<div style="min-height: 100vh;padding-top: 200px;">

  <div class = "container" >
    <div class = "button_container">
      
      <a href = "{% url 'image' %}" ><svg xmlns="http://www.w3.org/2000/svg" {% if request.path == '/' %} class = "selected" {% endif %} width="30" height="30" fill="currentColor" class="bi bi-camera" viewBox="0 0 16 16">
        <path d="M15 12a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1V6a1 1 0 0 1 1-1h1.172a3 3 0 0 0 2.12-.879l.83-.828A1 1 0 0 1 6.827 3h2.344a1 1 0 0 1 .707.293l.828.828A3 3 0 0 0 12.828 5H14a1 1 0 0 1 1 1v6zM2 4a2 2 0 0 0-2 2v6a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V6a2 2 0 0 0-2-2h-1.172a2 2 0 0 1-1.414-.586l-.828-.828A2 2 0 0 0 9.172 2H6.828a2 2 0 0 0-1.414.586l-.828.828A2 2 0 0 1 3.172 4H2z"/>
        <path d="M8 11a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5zm0 1a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7zM3 6.5a.5.5 0 1 1-1 0 .5.5 0 0 1 1 0z"/>
      </svg></a>
      <a href = "{% url 'video' %}"><svg xmlns="http://www.w3.org/2000/svg" {% if request.path == '/video/' %} class = "selected" {% endif %} width="30" height="30" fill="currentColor" class="bi bi-camera-video" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M0 5a2 2 0 0 1 2-2h7.5a2 2 0 0 1 1.983 1.738l3.11-1.382A1 1 0 0 1 16 4.269v7.462a1 1 0 0 1-1.406.913l-3.111-1.382A2 2 0 0 1 9.5 13H2a2 2 0 0 1-2-2V5zm11.5 5.175 3.5 1.556V4.269l-3.5 1.556v4.35zM2 4a1 1 0 0 0-1 1v6a1 1 0 0 0 1 1h7.5a1 1 0 0 0 1-1V5a1 1 0 0 0-1-1H2z"/>
      </svg></a>
    </div>
    <form action="{{ session.get_upload_url }}" method = "POST" class = "dropzone dz" id = "my-dropzone"> {% csrf_token %}
      <div class="fallback " >
        <input required name="file" type="file" multiple />
      </div>
    </form>
  </div>
  <div class = "center-child">
    <!-- {{ session.get_process_url }} -->
  <form action = "." method="POST">{% csrf_token %}
    <div style = "width: 100%; display: flex; justify-content: center; margin-top: 10px;">
      <button type="submit" class="btn btn-primary">DETECT & REMOVE</button>
    </div>
  </form>
  </div>
</div>
{% endblock content %}